<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>App de Clima</title>
  <link rel="stylesheet" href="../src/styles/clima.css">
</head>
<body>
  <div class="clima-card">
    <h2 id="ciudad">Ciudad</h2>
    <p id="condiciones">Condiciones</p>
    <p id="temp-actual">Temp actual: --°C</p>
    <div id="pronostico-horas"></div>
  </div>
  <div class="presion-card">
    <h2 id="Presión">Presión Arterial</h2>
    <p id="presión arterial sistólica">presión arterial sistólica </p>
    <p id="presión arterial diastólica ">presión arterial diastólica </p>
    <div id="pronostico-horas"></div>
  </div>
  <div class="contadorpasos-card">
    <h2 id="contadorpasos">Contador de Pasos</h2>
    <p id="Ultimospasos">Ultimos Pasos:</p>
    <p id="PasosActuales">Pasos Actuales:</p>
    <div id="pronostico-horas"></div>
  </div>
  <script src="script.js"></script>
</body>
</html>
