<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/login.css">
  <title>login</title>
</head>
<body>
  <div class="login-container">
    <!-- Logo dentro de un círculo -->
    <div class="logo">
      <img src="/Docs/imagenes/Olympus.png" alt="Logo Olympus">
    </div>
  
    <!-- Título principal -->
    <h1>Iniciar sesión</h1>
  
    <!-- Formulario -->
    <form id="loginForm">
      <input type="email" id="email" name="email" placeholder="Ingresa tu correo" required>
      <input type="password" id="password" name="password" placeholder="Ingresa tu contraseña" required>
      <button type="submit">Ingresar</button>
    </form>
  
    <!-- Links adicionales -->
    <div class="extra-links">
      <a href="#">¿Olvidaste tu contraseña?</a>
      <a href="./registro.html">Crear cuenta nueva</a>
    </div>
  </div>
<script type="module" src="../js/login.js"></script>
</body>
</html>